@using Sandbox;
@using Sandbox.UI;
@using SoulsBox
@inherits PanelComponent

<root>
    <div class="title" @ref="LockOnHudElement"></div>
</root>

@code
{

    [Property] AgentPlayer player { get; set; }

    Panel LockOnHudElement { get; set; }

    protected override void OnUpdate()
    {
        if (LockOnHudElement == null) return;
        LockOnHudElement.Style.Top = Length.Fraction(player.lockedOnPosition.ToScreen().y);
        LockOnHudElement.Style.MarginTop = Length.Pixels(-1 * LockOnHudElement.Box.Rect.Height);
        LockOnHudElement.Style.Left = Length.Fraction(player.lockedOnPosition.ToScreen().x);
        LockOnHudElement.Style.MarginLeft = Length.Pixels(-1 * LockOnHudElement.Box.Rect.Width);
    }

    protected override void OnStart()
    {
        player = Scene.GetAllComponents<AgentPlayer>().First();
    }


    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( player.lockedOn, player.lockedOnPosition );
}
