@using Sandbox;
@using Sandbox.UI;
@using SoulsBox
@inherits PanelComponent

<root>
    <div class="title" @ref="LockOnHudElement"></div>
</root>

@code
{

    [Property] AgentPlayer Player { get; set; }

    Panel LockOnHudElement { get; set; }
    Color? previousColor = Color.Parse("#b9eeffcc"); // make dynamic later

    protected override void OnUpdate()
    {
        //Log.Info(player.currentLockOnAble);
        if (LockOnHudElement == null || Player.CurrentLockOnAble == null) return;

        if (!Player.LockedOn)
        {
            LockOnHudElement.Style.BackgroundColor = Color.Transparent;
        } else
        {
            LockOnHudElement.Style.BackgroundColor = previousColor;
        }

        LockOnHudElement.Style.Top = Length.Fraction(Player.CurrentLockOnAble.Transform.Position.ToScreen().y);
        LockOnHudElement.Style.MarginTop = Length.Pixels(-1 * LockOnHudElement.Box.Rect.Height);
        LockOnHudElement.Style.Left = Length.Fraction(Player.CurrentLockOnAble.Transform.Position.ToScreen().x);
        LockOnHudElement.Style.MarginLeft = Length.Pixels(-1 * LockOnHudElement.Box.Rect.Width);
    }

    protected override void OnStart()
    {
        Player = Scene.GetAllComponents<AgentPlayer>().First();
    }


    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( Player.LockedOn, Player.CurrentLockOnAble );
}
