@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="text">
        <h1>Roadmap</h1>
        <ul>
            <li>Movement</li>
            <li>Camera + auto camera</li>
            <li>Lock on</li>
            <li>Chainable light attacks</li>
            <li>Mostly working menu</li>
            <li>Dynamic bonfire spawning system for any map</li>
            <li>Stats derived from attributes (almost done)</li>

        </ul>
    </div>
</root>
