@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="text">
        <h1>Controls</h1>
        <p>wasd/left stick -> movement</p>
        <p>mouse/right stick -> rotate camera</p>
        <p>left mouse btn/right bumper -> attack</p>
        <p>space/b (tap while still) -> backstep</p>
        <p>space/b (tap while moving) -> roll</p>
        <p>space (hold while moving) -> sprint</p>
        <p>space/b (tap immediately following sprint) -> jump</p>
        <p>q/click right stick -> lock on</p>
        <p>mouse/right stick (while locked on) -> switch target</p>
        <p>v/switch left menu (back button) -> creation mode (wip)</p>
        <p>esc/start -> menu</p>
    </div>
</root>
