@using Sandbox;
@using Sandbox.UI;
@inherits Panel;

<root>
    <ol>
        <li>Programmer: vinceTheProgrammer</li>
        <li>Animations: mixamo.com</li>
        <li>Models: turbosquid.com</li>
        <li>Music: TeknoAXE's Royalty Free Music</li>
        <li>Arrow by bellvania naomi argi pramana from Noun Project (CC BY 3.0) (Text removed; Recolored to white)</li>
        <li>Sword by Good Father from Noun Project (CC BY 3.0) (Text removed; Recolored to white)</li>
        <li>Ring by Siti Zulaikah from Noun Project (CC BY 3.0) (Text removed; Recolored to white)</li>
        <li>armour helmet by Lars Meiertoberens from Noun Project (CC BY 3.0) (Text removed; Recolored to white)</li>
    </ol>
</root>

@code
{
}
