@using Sandbox;
@using Sandbox.UI;
@inherits Panel;

<root class="columns">
    <div class="column">
        <div class="info-item">
            <i class="icon level-icon"></i> Manage Players
        </div>
        <div class="info-item">
            <i class="icon level-icon"></i> Change Lobby Visibility
        </div>
        <div class="info-item">
            <i class="icon souls-icon"></i> Change Map
        </div>
        <div class="info-item">
            <i class="icon vitality-icon"></i> Set Lobby Password
        </div>
    </div>
</root>

@code
{
}
