@using Sandbox;
@using Sandbox.UI;
@inherits Panel;

<root>
    <h3>Gamepad</h3>
    <p>
        Left analog stick - Move
        Right analog stick - Orbit camera
        Hold B - Sprint
        Tap B while still - Backstep
        Tap B while moving - Roll
        Tap B immediately following sprint - Jump
    </p>

    <h3>Keyboard</h3>
    <p>
        WASD - Move
        Mouse - Orbit camera
        Hold Space - Sprint
        Tap Space while still - Backstep
        Tap Space while moving - Roll
        Tap Space immediately following sprint - Jump
    </p>
</root>

@code
{
}
