@using Sandbox;
@using Sandbox.UI;
@inherits Panel;

<root>
    <ol>
        <li>Programmer: vinceTheProgrammer</li>
        <li>Animations: mixamo.com</li>
        <li>Models: turbosquid.com</li>
        <li>Music: TeknoAXE's Royalty Free Music</li>
    </ol>
</root>

@code
{
}
