@using Sandbox;
@using Sandbox.UI;
@inherits Panel;

<root class="columns">
    <div class="column flex-grow-2">
        <div class="categories">
            <i class="icon level-icon"></i> categories <span class="value"></span>
        </div>
        <div class="inventory">
            <i class="icon souls-icon"></i> items <span class="value"></span>
        </div>
    </div>

    <MenuStatusPlayer class="flex-grow-1"/>
</root>

@code
{
}
