@using Sandbox;
@using Sandbox.UI;
@inherits Panel;

<root class="columns">
    <div class="column">
        <div class="info-item">
            <i class="icon level-icon"></i> Options
        </div>
        <div class="info-item">
            <i class="icon level-icon"></i> Controls
        </div>
        <div class="info-item">
            <i class="icon souls-icon"></i> Lobby Tools
        </div>
        <div class="info-item">
            <i class="icon vitality-icon"></i> Credits
        </div>
        <hr>
        <div class="info-item">
            <i class="icon attunement-icon"></i> Main Menu
        </div>
        <div class="info-item">
            <i class="icon attunement-icon"></i> Quit Game
        </div>
    </div>
</root>

@code
{
}
