@using Sandbox;
@using Sandbox.UI;
@using SoulsBox
@namespace SoulsBox;
@inherits Panel;

<root class="columns">
    <div class="column flex-grow-2">
        <div class="category-bar">
            @foreach (var category in CategoriesComponent.Categories)
            {
                <div class="category-icon @(category == CategoriesComponent.SelectedCategory ? "selected" : "")" @onclick="() => CategoriesComponent.SelectCategory(category)">
                    <img src="@category.Icon" alt="@category.Name" />
                </div>
            }
        </div>
        <div class="inventory">
            <i class="icon souls-icon"></i> items <span class="value"></span>
        </div>
    </div>

    <MenuStatusPlayer class="flex-grow-1"/>
</root>

@code {
    public CategoriesComponent CategoriesComponent { get; set; }
}
