@using Sandbox;
@using Sandbox.UI;
@using SoulsBox;
@inherits Panel;

<root>
    <div>

    </div>
</root>

@code
{
    public Item Item { get; set; }

    public void HandleSecondary()
    {
    }
}
